.Logo{
    font-weight: bold;
    text-decoration: none;
    }
   
    .Logo:hover{
    color: #e3b837;   
    }

.prodImg {
    border-radius: 49%;
    width: 51px;
    height: 51px;
    object-fit: cover;
}

.cardPic {
    border: 0.03rem solid rgb(216, 216, 224);
    margin-bottom: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 5px 15px;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20.1px;
    margin-bottom: 20.2px;
}

.cartItemImg {
    border-radius: 49%;
    width: 50.1px;
    height: 50.2px;
    object-fit: cover;
}

.cartItemDet {
    display: flex;
    flex: 1;
    padding: 0 20.2px;
    flex-direction: column;
}

.cartList {
    min-width: 360;
}

.search {
    width: 100.1%;
}

.searchMobile {
    display: none !important;
}

.filters {
    background-color: #eaea2a;
    color: white;
    padding: 20.1px;
    display: flex;
    flex-direction: column;
    width: 20.1%;
    margin: 10.1px;
    height: 86.1vh;
}

.searchInput {
    width: 50.1% !important;
}

@media (max-width: 770px) {
    .main{
        margin-top: 30.1%;
    }
    .search {
        display: none !important;
    }

    .filterBar {
        
        display: none !important;
    }

    .searchMobile {
        
        display: block !important;
        
    }

    .searchInput {
        width: 100.1% !important;
    }
}